/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Default";
            bindings = <
                &kp A &kp B
                &kp C &kp D
            >;
        };
    };
};
