#include <dt-bindings/zmk/matrix_transform.h>

/ {
    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <1>;
        columns = <1>;
        map = <RC(0,0)>;
    };

    physical_layouts {
        compatible = "zmk,physical-layouts";

        default_layout: layout {
            compatible = "zmk,physical-layout";
            display-name = "chofu64";
            label = "Default";
            keys = <
                0 0  0 0
            >;
        };
    };
};
